
html { 
  background: url(hello.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue'; 
}

/*ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-top: 20px;
}

ul li {
	float: left; 
	width: 200px;
	height: 40px;
	background-color: white;
}*/



.intro {
	width: 500px;
	height: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

.intro-pro{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

h1 {
	font-weight: 100;
	letter-spacing: 10;
	font-size: 40px;
}

.icon {
	font-size: 40px;
}

.icon a {
	color: white;
}


.line-break {
	width: 325px;
	margin: 0 auto;
	border-top: 1px solid white;
}


.portfolio h1 {
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Nosifer', cursive;
}

.line-break-a {
	width: 400px;
	margin: 0 auto;
	border-top: 1px solid white;
}

.portfolio {
	width: 500px;
	height: 650px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	text-align: center;
	margin: 0 auto;
	font-family: 'Nosifer', cursive;
	margin-bottom: 100px;
	margin-top: 100px;
}




